[Desktop Entry]
Type=Application
Name=NCSPOT
Comment=Cross-platform ncurses Spotify client written in Rust
TryExec=ncspot
Exec=ncspot
Icon=ncspot
Terminal=true
Categories=AudioVideo;Audio;Player;ConsoleOnly
Keywords=spotify;music;player
